<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      h1{
        color:red;
      }
      table{
        border:5px solid red;
        font-size:50px
      }
      tr:nth-of-type(even)
      {
        background:cyan;
      }
      tr:nth-of-type(odd)
      {
        background: yellow;
      }

    </style>
  </head>
  <body>
    <h1>Hello World Welcome to Django</h1>
    <h2>The top actrress are in 2020:</h2>
    <table>
      <thead>
        <th>Name</th>
        <th>Place</th>
        <th>age</th>
        <tr>
          <td>Sunny</td>
          <td>Mumbai</td>
          <td>36</td>

        </tr>
        <td>Mallika</td>
        <td>Mumbai</td>
        <td>46</td>
      </thead>
    </table>

  </body>
</html>
