<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
    <h1>{{head_msg}}</h1>
    <ul>
      <li><h2>{{sub_msg1}}</h2> </li>
      <li><h2>{{sub_msg2}}</h2> </li>
      <li><h2>{{sub_msg3}}</h2> </li>
    </ul>
    <img src="{% static "images/sunny.jpg" %}" alt="">
    <img src="{% static "images/bahubali.jpg" %}" alt="">
      <img src="{% static "images/sports.jpg" %}" alt="">

  </body>
</html>
