<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block base_block%}
     <div class="jumbotron">
        <h1>Welcome to Exam Portal</h1>
        <h2>Exam Rules:</h2>
          <ul>
            <li>You have to attend the exam center before 20min.</li>
            <li>You have to attend the exam center before 20min.</li>
            <li>You have to attend the exam center before 20min.</li>
            <li>You have to attend the exam center before 20min.</li>
            <li>You have to attend the exam center before 20min.</li>
            <li>You have to attend the exam center before 20min.</li>
          </ul>

        </div>
{%endblock%}
