<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body{
        background:cyan;
        color:red;
      }

        h1{
          border:2px solid black;
          background: white;
        }
        h2{
          color:black;
        }
        h3{
          color:indigo;
        }



    </style>
  </head>
  <body>
    <h1>This Information coming from the html file everything takecare internally by django</h1><hr>
    <h2>The Server Date and Time is:{{date}}</h2>
    <h3>Student Information:</h3>
    <ol>
      <li>Name:{{name}}</li>
      <li>Rollno:{{rollno}}</li>
      <li>Branch:{{branch}}</li>
      <li>College:{{college}}</li>
    </ol>

  </body>
</html>
